@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
body {
  font-family: "Outfit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--Light-gray);
}
.qr-card {
  width: 300px;
  height: 450px;
  margin: 6% auto;
  padding: 1rem;
  background: var(--White);
  border-radius: 0.8rem;
}
.qr-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}
.qr-info {
  padding: 1rem;
  text-align: center;
}
.qr-info h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--Dark-blue);
}
.qr-info p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--Grayish-blue);
  margin: 0.8rem 0;
}
